@font-face {
  font-family: "Figtree-ExtraBold";
  src: url(/dist/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
  font-family: "Figtree-SemiBold";
  src: url(/dist/fonts/static/Figtree-SemiBold.ttf);
}
:root {
  --font-figtreeXBold: "Figtree-ExtraBold";
  --font-figtreeSBold: "Figtree-SemiBold";
}
